.solverContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contextContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 2rem;
	gap: 30px;
	min-height: 100vh;
	width: 40vw;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2rem;
	padding: 2rem;
	width: 30vw;
}

.resultContainer>div {
	width: 100%;
}

.rackOuterContainer {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.rackOuterContainer {
	display: flex;
	flex-flow: inherit;
}

@media(max-width: 768px) {
	
	.solverPage {
		overflow: initial;
	}

	.solverContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.contextContainer {
		width: 100%;
		min-height: initial;
		padding: 0;
		padding-top: 2rem;
	}

	.rackOuterContainer {
		padding: 1rem;
		width: 100%;
	}

	.resultContainer {
		width: 100%;
	}
}
