.solverPage {
	height: 100vh;
	width: 100vw;
}

.solverContainer {
	display: flex;
}

.contextContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 55%;

	align-items: center;
	justify-content: space-evenly;
	gap: 50px;
	padding: 2rem;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2rem;
	width: 33.33%;
	padding: 2rem;
}

.resultContainer>div {
	width: 100%;
}

.rackOuterContainer {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

@media(max-width: 768px) {
	
	.solverPage {
		overflow: initial;
	}

	.solverContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.contextContainer {
		width: 100%;
		padding: 0;
		padding-top: 2rem;
	}

	.rackOuterContainer {
		width: 100%;
	}

	.resultContainer {
		width: 100%;
	}
}
