.purseButton {
	padding-inline: 5px;
	transition: all .125s ease;
}

.glass.purseButton:hover {
	cursor: pointer;
	background-color: var(--foreground-color);
}

.purseTooltip {
	z-index: 999;
}

.purseTooltipContent {
	display: grid;
	grid-template-columns: repeat(4, 50px);
}

.purseItem {
	grid-column: span 1;
}

.purseKey {
	color: var(--white-smoke);
}

.purseValue {
	padding-left: 2px;
}


@media(max-width: 768px) {
	.purseTooltipContent {
		grid-template-columns: repeat(5, 40px);
	}
}
