.scoreContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	gap: 1rem;
	font-size: 1.5rem;
	height: 64px;
	padding: 0 1rem;
}

.scoreText {
	white-space: nowrap;
	color: #333;
	font-weight: 500;
}

.scoreDivider {
	color: #333;
}

@media(max-width: 786px) {
	.scoreOuter {
		display: flex;
		justify-content: center;
	}
	.scoreContainer {
		font-size: 1.3rem;
		height: 2.5rem;
		width: 95%;
	}
}
