.resetButton {
	border-width: 2px;
	aspect-ratio: 1 /1;
	grid-column: -2;
}

.resetButton button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: whitesmoke;
}

.resetButton button:hover {
	border-radius: 5px;
	color: var(--app-black);
	background: var(--foreground-color);
	cursor: pointer;
}

@media(max-width: 768px) {
	.resetButton {
		height: calc(90vw / 9);
		width: calc(90vw / 9);
	}
}
