.rackContainer {
	width: calc(70 * 7px);
	height: 70px;

	display: flex;
	flex-flow: row no-wrap;
	background-color: #f9f6f0;
	box-shadow:	var(--container-shadow)
}

.rackContainer .s-grid-cell {
	width: 70px;
	height: 70px;
}

.rackContainer .s-grid-tile {
	font-size: 45px;
}

@media(max-width: 768px) {
	.rackContainer {
		width: calc(90vw);
		height: calc(90vw / 7);
		color: var(--app-black);
	}

	.rackContainer .s-grid-cell {
		width: calc(100vw / 20 * 1.5);
		height: calc(100vw / 20 * 1.5);
	}

	.rackInput {
		width: 100%;
		font-size: calc(100vw / 20);
	}

	.rackError > p {
		color: red;
		font-size: 4.5vw;
	}
}
