.resetButton {
	width: 70px;
	height: 70px;
	box-shadow: var(--container-shadow);
	background-color: var(--row-background);
	border: var(--grid-tile-border);
	border-width: 2px;
}

.resetButton button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--app-grey);
	font-size: 50px;
}

.resetButton button:hover {
	color: var(--app-black);
}

@media(max-width: 768px) {
	.resetButton {
		height: calc(90vw / 7);
	}
}
