@import "tailwindcss";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/*background-color: #2f4858; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


	--color-navbar-background: #485a73;
	--grid-tile-border: 1px solid #e8ddc0;
	--row-background: #FDF5CD;
	--container-shadow: 0px 0px 10px 0px #a1aea5;
	--container-bg-color: #f9f6f0;
	--result-violet: rgba(236, 152, 70, .5);
	--grid-border-color: #e8ddc0;
	--tile-full-bg: #c4bd97;
	--app-black: #070837;
	--app-grey: #A0A0A0;

	--secondary: rgb(209, 125, 154);
	--white-smoke: rgba(255, 255, 255, 0.75);

    --rt-color-accept: #49B568;
    --rt-color-accept-rgb: 73, 181, 104;

    --rt-color-deny: #DD111B;
    --rt-color-deny-rgb: 221, 17, 27;

    --rt-color-black: #070837;
    --rt-color-black-rgb: 7, 8, 55;

    --rt-color-white: #FEFEFE;
    --rt-color-white-rgb: 254, 254, 254;

    --background-color: #92abd9;
    --background-color-rgb: 146, 171, 217;

    --foreground-color: #5a78b0;
    --foreground-color-rgb: 90, 120, 176;

	--tile-background: rgb(238 230 188);
	--tile-border: rgb(130 115 31);

	--ghost-color: rgb(147 223 151);
	--ghost-border: rgb(47, 134, 51);

	--pending-color: rgb(170, 164, 132);
	--pending-border: rgb(121, 111, 54);

	.glass {
		background: rgba(255, 255, 255, 0.21);
		border-radius: 5px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.text-dark-green { color: #167109; }
	.text-accept { color: var(--rt-color-accept); }
	.text-deny { color: var(--rt-color-deny); }
	.bold { font-weight: bold; }
}



@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
	z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--foreground-color);
 
    animation: animate 36s linear infinite;
}

.background li:nth-child(0) {
    left: 36%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 84%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 2s;
	/*box-shadow: 0px 0px 10px rgba(255, 82, 101, 1);*/
}
.background li:nth-child(2) {
    left: 74%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 43%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 11s;
}
.background li:nth-child(4) {
    left: 32%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 12s;
}
.background li:nth-child(5) {
    left: 56%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 2s;
}
.background li:nth-child(6) {
    left: 29%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 8s;
}
.background li:nth-child(7) {
    left: 17%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 1s;
}
.background li:nth-child(8) {
    left: 84%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 14s;
}
.background li:nth-child(9) {
    left: 14%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 42s;
}
.background li:nth-child(10) {
    left: 45%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 40s;
}
