.solverButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	width: auto;
	height: auto;
}


.solverButtonContainer>button {
	width: 66.66%;
	height: 15%;
	font-weight: bold;
	background-color: #f3eada;
	border: 3px solid darkgray;
	border-radius: 20px;
}
