.botPage {
	width: 100vw;
	height: 100vh;
}

.botPageContainer {
	color: var(--app-black);
	height: 95vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.botMenu {
    width: 500px;
    align-items: center;
    color: var(--app-black);
}

.onGoingTable {
	width: 100%;
	height: fit-content;
	font-size: 20px;
}

.onGoingHead {
	display: flex;
	justify-content: center;
} 

.onGoingBody {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}

.onGoingRow {
	display: grid;
	grid-template-columns: repeat(4, 1fr) .5fr .5fr;
	align-items: center;
	transition: all .3s ease;
	padding: 10px;
	margin: 3px;
	border-radius: 10px;
}

.onGoingRow:hover {
	background-color: rgba(var(--rt-color-white-rgb), .8);
	cursor: pointer;
}

.onGoingPh {
	padding: 10px;
}

#onGoingDeleteOuter, #onGoingPlayOuter {
	display: flex;
	justify-content: center;
}

#onGoingDelete, #onGoingPlay {
	padding: 5px;
	border: 2px solid black;
	border-radius: 50%;
	transition: all .125s ease;
}

#onGoingDelete:hover, #onGoingPlay:hover {
	scale: 120%;
	cursor: pointer;
	background-color: rgba(var(--app-black-rgb), .8);
	color: var(--rt-color-accept);
	border-color: var(--rt-color-accept);
}


.newGameItem {
	display: flex;
	flex-direction: column;
}

.newGameItem span {
	font-size: 20px;
	padding: 10px;
}

.newGameItem select {
	border: 1px solid var(--foreground-color);
	margin-inline: 10px;
	padding-inline: 5px;
	font-size: 15px;
}

.newGameMenuContainer {
	width: 500px;
	height: fit-content;
}

.newGameFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ngButton {
	margin-block: 10px;
	transition: all .125s ease;
	padding: 10px;
}

.glass.ngButton:hover {
	background: var(--foreground-color);
	color: var(--app-black);
	cursor: pointer;
}

@media(max-width: 768px) {
	.newGameMenuContainer {
		width: 95%;
	}

	.botMenu {
		width: 95%;
	}
	
}
