.botPage {
	width: 100vw;
	height: 100vh;
}

.botPageContainer {
	color: var(--app-black);
	height: 95vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.botMenu {
    width: 500px;
    align-items: center;
    color: var(--app-black);
}

.onGoingTable {
	width: 100%;
	height: fit-content;
	font-size: 20px;
}

.onGoingHead {
	display: flex;
	justify-content: center;
} 

.onGoingBody {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}

.onGoingRow {
	transition: all .125 ease;
	padding: 10px;
}

.onGoingRow:hover {
	background-color: var(--foreground-color);
	cursor: pointer;
}

.onGoingPh {
	padding: 10px;
}

.newGameItem {
	display: flex;
	flex-direction: column;
}

.newGameItem span {
	font-size: 20px;
	padding: 10px;
}

.newGameItem select {
	border: 1px solid var(--foreground-color);
	margin-inline: 10px;
	padding-inline: 5px;
	font-size: 15px;
}

.newGameMenuContainer {
	width: 500px;
	height: fit-content;
}

.newGameFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ngButton {
	margin-block: 10px;
	transition: all .125s ease;
	padding: 10px;
}

.glass.ngButton:hover {
	background: var(--foreground-color);
	color: var(--app-black);
	cursor: pointer;
}

@media(max-width: 768px) {
	.newGameMenuContainer {
		width: 95%;
	}

	.botMenu {
		width: 95%;
	}
	
}
