.gamePage {
	width: 100%;
	min-height: 100%;
}

.solverContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	padding-inline: clamp(10px, (300 / 920) * (100vw - 1000px), 300px);
	padding-block: 10px;
	height: 95%;
}

.contextContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 30px;
	width: 60%;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2rem;
	width: 40%;
}

.resultContainer>div {
	width: 100%;
}

.rackOuterContainer {
	display: flex;
	flex-direction: row;
	aspect-ratio: 9/1;
}

.rackOuterContainer {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(9, 1fr);
}


@media(max-width: 768px) {
	
	.solverPage {
		overflow: initial;
	}

	.solverContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-inline: 0px;
	}

	.contextContainer {
		width: 100%;
		min-height: initial;
		padding: 0;
	}

	.rackOuterContainer {
		padding: 1rem;
		width: 100%;
	}

	.resultContainer {
		width: 95%;
		padding-bottom: 50px;
	}
}
