.gamePage {
	width: 100%;
	min-height: 100%;
}

.solverContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	padding-inline: clamp(10px, (300 / 920) * (100vw - 1000px), 300px);
	padding-block: 10px;
	height: 95%;
}

.contextContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
	width: 60%;
}

.dp-flex {
	display: flex;
	align-items: center;
	gap: 10px;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2rem;
	width: 40%;
}

.resultContainer>div {
	width: 100%;
}

.rackOuterContainer {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(10, 1fr);
	aspect-ratio: unset;
	z-index: 1;
}

.actionOuterContainer {
	display: flex;
	justify-content: space-around;
}

.actionButton {
	padding-inline: 20px;
	padding-block: 5px;
	transition: all .125s ease;
}

.glass.actionButton:hover {
	cursor: pointer;
	background-color: var(--foreground-color);
	color: var(--app-black);
}

.glass#placeButton:hover {
	background-color: var(--rt-color-success);
}

.scoreContainer {
	display: flex;
	align-items: center;
}

.glass.ngButton:hover {
	background-color: var(--rt-color-success);
}

@media(max-width: 768px) {
	
	.solverPage {
		overflow: initial;
	}

	.solverContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-inline: 0px;
	}

	.contextContainer {
		width: 100%;
		min-height: initial;
		padding: 0;
		gap: 0;
		overflow: visible;
	}

.rackOuterContainer {
		padding: 1rem;
	}

	.resultContainer {
		width: 95%;
		padding-bottom: 50px;
	}
}
