.notFoundContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	padding: 4rem;
	gap: 15px;
	justify-content: start;
	align-items: center;
}

.notFoundContainer .s-grid-cell {
	width: 80px;
	height: 80px;
	border-width: 2px;
}

.notFoundRow {
	display: flex;
	flex-direction: row;
}

.notFoundContainer .full {
	font-size: 50px;
}

.notFoundContainer .score {
	font-size: 23px;
}

.notFoundContainer .full {
	background-color: var(--result-violet);
}

@media(max-width: 768px) {
	.notFoundContainer .s-grid-cell {
		width: 40px;
		height: 40px;
		border-width: 1px;
	}

	.notFoundContainer .full {
		font-size: 22px;
	}

	.notFoundContainer .score {
		font-size: 10px;
	}
}
